.form-box.register {
    position: relative;
    margin: 0 auto;
    width: 420px;
    height: auto;
    background: white;
    border: 2px solid rgb(255, 255, 255);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
  
  .form-box.register h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
  }
  
  .input-box input {
    width: calc(100% - 40px); /* Adjust input width */
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(236, 236, 236);
    border-radius: 40px;
    font-size: 16px;
    color:black;
    padding: 0 20px;
  }
  
  .input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
  }
  
  .remember-forgot {
    margin-top: 20px;
    font-size: 14px;
    color: black;
  }
  
  .remember-forgot label input {
    margin-right: 4px;
  }
  
  .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  
  .register-link p a:hover {
    text-decoration: underline;
    color: black;
  }
  
  button[type="submit"] {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(148, 148, 148);
    cursor: pointer;
    font-size: 16px;
    color: #333333;
    font-weight: 700;
    margin-top: 20px;
  }